<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}<title>{{ title }}</title>{% endif %}
    {% if included_stylesheets %}{% for stylesheet in included_stylesheets %}<style>{{ stylesheet }}</style>{% endfor %}{% endif %}
    {% if stylesheet_urls %}{% for url in stylesheet_urls %}<link rel="stylesheet" href="{{ url }}">{% endfor %}{% endif %}
    {% if custom_css %}<style>{{ custom_css }}</style>{% endif %}
</head>
<body>
    {{ body }}
</body>
</html>
